<!DOCTYPE html>
<html>

    <head>
        <script src="js/vue.js"></script>
        <script src="js/axios.min.js"></script>
        <link rel="stylesheet" href="css/index.css">
        <script src="js/index.js"></script>
    </head>

    <body style="margin:0px;">
        <div id="app" style="text-align:center;">
            <el-container>
                <el-header height="60px" style="background-color: #B3C0D1;text-align: center;line-height: 60px;">
                    <span>VPN Admin</span>
                </el-header>

                <el-main >
                     <el-card :body-style="{ padding: '0px' }"
                         style="width:70%;display: inline-block;margin-top: 100px;">
                         <div slot="header">
                             <span>在线用户</span>
                         </div>
                         <el-table :data="onlineUsers" border stripe size="medium">
                             <el-table-column v-for="col in onlineUsersColumns" :prop="col.id" :key="col.id"
                                 :label="col.label" align="center">
                             </el-table-column>
                         </el-table>
                     </el-card>

                     <el-card :body-style="{ padding: '0px' }"
                         style="width:70%;display: inline-block;margin-top: 100px;">
                         <div slot="header">
                             <span>所有用户</span>
                             <el-button type="text" @click="ReadyAddUser"
                                 style="height:20px;display: inline; float:right;margin-right:10px;">添加</el-button>
                         </div>
                         <el-table :data="users" border stripe size="medium">
                             <el-table-column v-for="col in usersColumns" :prop="col.id" :key="col.id"
                                 :label="col.label" align="center">
                             </el-table-column>
                         </el-table>
                     </el-card>

                     <el-card :body-style="{ padding: '0px' }"
                         style="width:70%;display: inline-block;margin-top: 100px;">
                         <div slot="header">
                             <span>权限种类</span>
                            <el-button type="text" @click="" 
                                style="height:20px;display: inline; float:right;margin-right:10px;">添加</el-button>
                         </div>
                         <el-table :data="accesss" border stripe size="medium">
                             <el-table-column v-for="col in accesssColumns" :prop="col.id" :key="col.id"
                                 :label="col.label" align="center" :formatter="format">
                             </el-table-column>
                         </el-table>
                     </el-card>

                     <el-card :body-style="{ padding: '0px' }"
                         style="width:70%;display: inline-block;margin-top: 100px;">
                         <div slot="header">
                             <span>上网记录</span>
                         </div>
                         <el-table :data="records" border stripe size="medium">
                             <el-table-column v-for="col in recordsColumns" :prop="col.id" :key="col.id"
                                 :label="col.label" align="center">
                             </el-table-column>
                         </el-table>
                     </el-card>
                </el-main>

            </el-container>


            <el-dialog title="添加用户" :visible.sync="showAddUser" width="460px" :show-close="false"
                :before-close="function(){}">
                <el-form :model="user" ref="user" label-width="80px">
                    <el-form-item label="用户名：">
                        <el-input v-model="user.userName" placeholder="请输入用户名"></el-input>
                    </el-form-item>
                    <el-form-item label="密码： ">
                        <el-input v-model="user.password" type="password" placeholder="请输入用户密码"></el-input>
                    </el-form-item>
                    <el-form-item label="用户组: ">
                        <el-select v-model="user.group" placeholder="请选择用户组" style="width:340px;">
                            <el-option v-for="(group,index) in groups" :key="index" :label="group.Name"
                                :value="group.id">
                            </el-option>
                        </el-select>

                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="AddUser">立即添加</el-button>
                        <el-button @click="showAddUser=false">取消</el-button>
                    </el-form-item>
                </el-form>
            </el-dialog>

        </div>
    </body>
    <script>
        // let host = "http://localhost:6580"
        let host = ""
        var app = new Vue({
            el: '#app',
            data: {
                onlineUsers: [],
                onlineUsersColumns: [{
                        id: "Name",
                        label: "用户名"
                    },
                    {
                        id: "IP",
                        label: "用户IP"
                    },
                    {
                        id: "MAC",
                        label: "Mac地址"
                    },
                    {
                        id: "OnlineTime",
                        label: "上线时间"
                    }
                ],
                users: [],
                usersColumns: [{
                        id: "Name",
                        label: "用户名"
                    },
                    {
                        id: "Group",
                        label: "用户组"
                    }
                ],
                accesss: [],
                accesssColumns: [{
                        id: "Name",
                        label: "名称"
                    },
                    {
                        id: "Group1",
                        label: "用户组1"
                    },
                    {
                        id: "Group2",
                        label: "用户组2"
                    },
                    {
                        id: "Rule",
                        label: "规则"
                    }
                ],
                records: [],
                recordsColumns: [{
                        id: "Name",
                        label: "用户名"
                    },
                    {
                        id: "Online_Time",
                        label: "上线时间"
                    },
                    {
                        id: "Off_Time",
                        label: "下线时间"
                    },
                    {
                        id: "IP",
                        label: "IP"
                    },
                    {
                        id: "MAC",
                        label: "MAC"
                    },
                    {
                        id: "UP_Flow",
                        label: "上传流量"
                    },
                    {
                        id: "DOWN_Flow",
                        label: "下载流量"
                    }
                ],
                user: {
                    userName: "",
                    password: "",
                    group: null
                },
                groups: [

                ],
                showAddUser: false
            },
            mounted() {
                this.$nextTick(_ => {
                    this.GetOnlineUser()
                    this.GetAllUser()
                    this.GetAccess()
                    this.GetRecord()
                    this.GetGroup()
                })
            },
            methods: {
                getonline: function (event) {
                    axios
                        // .post('/getonline',"num=1")
                        .get(host + "/getonlineuser")
                        .then(response => {
                            this.message = response.data
                            console.log(this.message);

                        })
                },
                ReadyAddUser: function () {
                    this.showAddUser = true
                },
                AddUser() {
                    let username = this.user.userName;
                    let password = this.user.password;
                    let groupid=this.user.group-0;
                    let This = this
                    axios.post("/user/add",{
                        "username": username,
                        "pwd": password,
                        "group":groupid,

                    }).then(res => {
                        if (res.status != 200) return;
                        if(res.data.res!=0){
                            alert(res.data.msg)
                            return
                        }
                        alert("添加成功");
                        This.showAddUser = false;
                        This.GetAllUser();
                    })
                },
                GetOnlineUser() {
                    axios.get("/getonlineuser").then(res => {
                        if (res.status == 200) {
                            this.onlineUsers = res.data
                        }
                    })
                },
                GetAllUser() {
                    axios.get("/user/get").then(res => {
                        if (res.status == 200) {
                            this.users = res.data
                        }
                    })
                },
                GetGroup() {
                    axios.get("/getgroup").then(res => {
                        if (res.status == 200) {
                            this.groups = res.data
                        }
                    })
                },
                GetAccess() {
                    axios.get("/getaccess").then(res => {
                        if (res.status == 200) {
                            this.accesss = res.data
                        }
                    })
                },
                GetRecord() {
                    axios.get("/getrecord").then(res => {
                        if (res.status == 200) {
                            this.records = res.data
                        }
                    })
                },
                format(row, colum) {
                    let prop = colum.property
                    if(prop == 'Rule')
                    {
                        return row.Rule == '1' ? '允许':'拒绝'
                    }
                    return row[prop]
                }
            },
        })

    </script>

</html>
